@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

:root {
    --theme__darker: #005;
    --theme__dark: #449;
    --theme: #55a;
    --theme__light: #66b;
    --theme__lighter: #aaf;
}

body {
    margin: 0rem;
    padding: 0rem;
    background-color: #111;
    color: #fff;
    font-size: 1rem;
    font-family: 'Exo 2', sans-serif;
}

.-a {
    color: inherit;
    text-decoration: none;
}

.-button {
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--theme);
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    transition-duration: 0.1s;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.-button:hover {
    background-color: var(--theme__light);
}

.-button--active {
    background-color: #fff;
    color: #000;
}

.-button--active:hover {
    background-color: #000;
    color: #fff;
}

.-button > svg {
    width: 2rem;
    height: 2rem;
}

.-form {
    margin: 0rem;
    margin-block-end: 0rem;
}

.-input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: #fff;
    font-family: 'Exo 2', sans-serif;
    color: #111;
    border: none;
    border-radius: 1rem;
}

.-textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: #fff;
    font-family: 'Exo 2', sans-serif;
    color: #111;
    border: none;
    border-radius: 1rem;
    resize: vertical;
}

.-center {
    text-align: center;
}

.-center__flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.-title {
    font-size: 1.5rem;
}

.-subtitle {
    font-size: 0.7rem;
    color: #aaa;
}

.-iconlabel {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

.-iconlabel__icon > svg {
    display: flex;
    align-items: center;
    width: 2rem;
    height: 2rem;
}

.-iconlabel__text {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.-header {
    display: grid;
    grid-template-columns: max-content 5rem max-content 1fr max-content;
    background-color: var(--theme);
}

.-header--user {
    grid-template-columns: repeat(3, max-content) 1fr repeat(4, max-content);
}

.-header__tab {
    padding: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    user-select: none;
}

.-header__tab:hover {
    background-color: var(--theme__dark);
}

.-header__title {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.-header__new {
    padding: 1rem;
}

.-header__new > button {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

.-header__search {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.-header__search__input {
    padding: 1rem;
    width: 20rem;
}

.-header__search__button {
    padding: 1rem;
    padding-left: 0rem;
}

.-header__search__button > button {
    padding: 0rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.-header__search__button > button:hover {
    background-color: transparent;
    color: #fff;
}

.-header__user__content {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

.-header__user__content__avatar > img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 1rem;
}

.-header__user__content__username {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    max-width: 20rem;
    overflow: hidden;
}